<style > 
  a {
    text-decoration: none;
}

#daemoon {
    text-align: center;
    display: block;
    border-bottom: #dda0dd 1px solid;
    padding-bottom: 20px;
    margin: 0;
    color: #191970;
}

.index {
    width: 100px;
    border-right: #dda0dd 1px solid;
    padding: 20px;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.greeting {
    color: #483d8b;
}
</style>