<style>
a {
  text-decoration: none;
}

#daemoon {
  text-align: center;
  display: block;
  border-bottom: #DDA0DD 1px solid;
  padding-bottom: 20px;
  margin: 0;
  color: #191970;
}

.index {
  width: 100px;
  border-right: #DDA0DD 1px solid;
  padding: 20px;
  margin: 0;
}

li {
  margin-bottom: 20px;

}

#grid {
  display: grid;
  Grid-template-columns: 1fr 2fr;

}

.greeting {
  color: #483D8B;
}

.img {
  display: block;
  text-align: center;
  width: 500px;
}

img {
  margin-top: 50px;
  margin-bottom: 30px;
}
</style>